---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  category: string;
  categoryName: string;
}

const { currentPage, totalPages, paginatedPosts, category, categoryName } = Astro.props;
---

<Layout title={`Category: ${categoryName} | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main
    pageTitle={[`Category:`, `${categoryName}`]}
    titleTransition={category}
    pageDesc={`All the articles with the category "${categoryName}".`}
  >
    <h1 slot="title" transition:name={category}>{`Category:${category}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/categories/${category}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/categories/${category}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
